<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="proj1a.My.MySettings.Database1ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database1.accdb"
            providerName="System.Data.OleDb" />
        <add name="proj1a.My.MySettings.registerAccountConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\registerAccount.mdb"
            providerName="System.Data.OleDb" />
        <add name="proj1a.My.MySettings.facebookConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\facebook.accdb"
            providerName="System.Data.OleDb" />
        <add name="proj1a.My.MySettings.GoogleConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Google.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>