<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Uplock.My.MySettings.facebookConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\facebook.accdb;Persist Security Info=True;Jet OLEDB:Database Password=facebookZuckerberg"
            providerName="System.Data.OleDb" />
        <add name="Uplock.My.MySettings.GoogleConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Google.accdb;Persist Security Info=True;Jet OLEDB:Database Password=googleBrinPage"
            providerName="System.Data.OleDb" />
        <add name="Uplock.My.MySettings.GarenaConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Garena.accdb;Jet OLEDB:Database Password=garenaPhil"
            providerName="System.Data.OleDb" />
        <add name="Uplock.My.MySettings.InstagramConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Instagram.accdb;Jet OLEDB:Database Password=instaSystrom"
            providerName="System.Data.OleDb" />
        <add name="Uplock.My.MySettings.facebook1ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\facebook1.accdb;Jet OLEDB:Database Password=facebookZuckerberg"
            providerName="System.Data.OleDb" />
        <add name="Uplock.My.MySettings.PhoneNumbersConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PhoneNumbers.accdb;Jet OLEDB:Database Password=myphoneNumbers"
            providerName="System.Data.OleDb" />
        <add name="Uplock.My.MySettings.RiotConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Riot.accdb;Jet OLEDB:Database Password=riotBeck"
            providerName="System.Data.OleDb" />
        <add name="Uplock.My.MySettings.SteamConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Steam.accdb;Jet OLEDB:Database Password=steamGaben"
            providerName="System.Data.OleDb" />
        <add name="Uplock.My.MySettings.YoutubeConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Youtube.accdb;Jet OLEDB:Database Password=youtubeKarim"
            providerName="System.Data.OleDb" />
        <add name="Uplock.My.MySettings.TwitterConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Twitter.accdb;Jet OLEDB:Database Password=twitterDorsey"
            providerName="System.Data.OleDb" />
        <add name="Uplock.My.MySettings.usePasswordConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\usePassword.accdb;Jet OLEDB:Database Password=usePassword"
            providerName="System.Data.OleDb" />
        <add name="Uplock.My.MySettings.usedPasswordsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\usedPasswords.accdb;Jet OLEDB:Database Password=usePassword"
            providerName="System.Data.OleDb" />
        <add name="Uplock.My.MySettings.nosePasConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\nosePas.accdb;Jet OLEDB:Database Password=nosePass"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>